<% if logged_in? %>
  <p class="pull-right">
    [<%= link_to 'Edit this Post', edit_post_path(@post) %>]
  </p>  
<% end %>


<p>
  <%= render @post.categories %>
</p>
<%= render 'shared/content_title', title: @post.title %>
<%= @post.description %>
<hr>

<% if logged_in? %>
  <div class="row">
    <div class="span8">
      <%= render 'shared/errors', object: @comment %>
      <%= form_for [@post, @comment] do |f| %>
        <div class="controll-group">
          <%= f.label :body, 'Leave a Comment' %> 
          <%= f.text_area :body, rows: 5 %>
        </div>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %> 
    </div>
  </div>
<% end %>

<h5>Comments</h5>
<% @post.comments.reload.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>