<p class="pull-right">
  [<%= link_to 'Edit this Post', edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>
<%= render 'shared/content_title', title: @post.title %>
<%= @post.description %>

<%= form_for [@post, @comment] do |f| %>
<% end %>